.main{
	margin-left: 20%;
	width: 800px;
	font-size: 0px;
}

.field-container{
	width: 624px;
	margin: 2px;
	display: inline-block;
	background-color: white;
	min-height: 300px;
	border: 1px solid black;
}

.field{
	width: 50px;
	display: inline-block;
	vertical-align: top;
	background-color:white;
	border:1px solid gray;
	height: 50px;
	text-align: center;
	font-size: 14px;
}

.red-field{
	background-color: #f44336;
}

.orange-field{
	background-color: #ff9800;
}

.green-field{
	background-color: #4caf50;
}

.buttons{
	width: 120px;
	display: inline-block;
	vertical-align: top;
	min-height: 300px;
}

.buttons .but{
	margin: 3px 10% 10px 10%;
	width: 80%;
	height: 25px;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	border: 1px solid black;
	background-color: white;
	-webkit-user-select: none;
	cursor: pointer;
}

.but.released-div{
	pointer-events: auto;
}

.but.blocked-div{
	cursor: no-drop;
	pointer-events: none;
	opacity: 0.5;
}

